@import "bourbon/bourbon";
@import "normalize.css";
/*-----------------------Mixins--------------------------*/
@mixin clearfix{
	&:before,
	&:after{
		content: "";
		display: table;
	}

	&:after{
		clear: both;
	}
}
/*--------------------Personal-----------------------*/
*{
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
p{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/*-----------------------body----------------------*/
body{
	background: #f0f0f0;
	width: 100%;
	height: 100%;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
	header{
		background: #fb3e38;
		@include linear-gradient(left, #fb3e38 0%, #ff8f30 100%);/*bourbone docs*/
		.container{/*put header into the middle of the monitor*/
			width: 1170px;
			margin: 0 auto;
			.header__top{
				@include clearfix;
				.header__logo, .header__search, .header__menu{
					float: left;
				}
				/*------------------logo----------------------------*/
				.header__logo{
					width: 25%;
					.logo{
						display: block;
						.logo__pic{
							display: block;
							max-width: 175px;
							max-height: 55px;
						}
					}
				}
				/*--------------------search---------------------------*/
				.header__search{
					width: 40%;
					.search{
						position: relative;
						.search__input{
							padding: 10px 40px 10px 35px;
							background: rgba(#fff, .2);
							border: 0 none;
							border-radius: 50px;
							color: #fff;
							outline: none;
							width: 100%;
							@include placeholder
							{
								color: #ccc;
							}
						}
						.search__submit{
							background: url('../img/search.png');
							background-repeat: no-repeat;
							background-size: cover;
							width: 18px;
							height: 18px;
							display: block;
							border: none;
							position: absolute;
							right: 18px;
							top: 50%;
							margin-top: -9px;
						}
					}
				}
				/*-----------------------menu-------------------------*/
				.header__menu{
					width: 35%;
					.menu__item{
						display: inline-block;
					}
					.menu{
						text-align: justify;
						&:after{
							content: "";
							text-align: center;
							display: inline-block;
							width: 100%;
							height: 0px;
						}
					}
				}
			}
		}
	}

	.empty{
		height: 115px; /*высота равна .footer. Просто заплатка чтобы блок .wraper не налезал на .footer*/
	}
}
/*Footer*/
.footer{
	height: 115px;
	margin-top: -115px;
	position: relative; /*поскольку relative в .wrapper меняет приоритеты z-index*/
}